/* big tablets and 1200ps */

@media only screen and (max-width: 1200px) {
.hero-text-box {
    width: 100%;
    padding: 0 2%;
}
.row {
    padding: 0 2%;
}
/* footer p {
    margin-left: 50%;
}
.social-icons{
    margin-right: 15%;
} */
}

/* small tablets to big tablets: from 768px to 1023px */

@media only screen and (max-width:1023px) {
 body {
    font-size: 15px;

 }

  section {
    padding: 50px 0px;
  }
  .long-copy {
    width: 80%;
    
    margin-left: 10%;

  }

  .logo{
    margin: 0;
    margin-top: 10px;
}

  
  .effect2 ul{
    font-size: 25px;
    padding-left: 5%;

  }
  .icon-big {
    font-size: 30px;

  }
  .icon-small {
    width: 15px;
  }

  .city-features {
    font-size: 90%;
  }
  
  .plan-box {
    width: 100%;
    margin-left: 0;

  }
  .plan-box div{
    padding: 10px;
    width: 100%;
  }

  .works-steps {
    margin-top: 40%;
  }

  .app-screen {
    width: 50%;
  }

  .btn-app img {
    width: 120px;
    height: 40px;
    margin-top: 20px;
  }

  .footer-nav li {
    margin-right: 8px;
  }

  .contact-form{
    width: 80%;
  }
}

/* small phones to small tablets: from 480px to 767px */

@media only screen and (max-width:767px) {
    section {
        padding: 30px 0px;
    }

    .mobile-nav-icon{
      display: inline-block;
      
    }


    .main-nav{
        font-size: 12px;
        margin: 0;
        margin-top: 5%;
        display: none;
       
        
        
    }

    .stick .main-nav{
      margin-top:10px;
      display: inline-block;
    }
    .logo-black{
    display: inline-block;  
    width: 4%; 
    margin-left: 20px ;
    margin-top: 5%;
    z-index: 20;
    }
    

    .ones{
        width: 100%;
    }
    .app-screen{
        margin-top: 45%;
    }

    .qalaqi{
        margin-bottom: 35%;
        
    }
    .logo{
      margin: 0;
      margin-top: 10px;
  }
   .cite p{
    display: block;
   }
   .plan-box{
    width: 100%;
    margin: 5%;
   }
   .down{
    margin-top: 65%;
   }
   .one{
    width: 90%;
    margin: 5%;
   }
   .down2{
    margin-top: 12%;
   }

}

/* small phones: from 0 to 480px */

@media only screen and (max-width: 480px) {
    section{
        padding: 25px 0;
    }

    .main-nav  li{
        font-size: 15px;
        margin: 0;
        margin-top: 5%;
        margin-right: 4%;
        display: block;
        
    }

    .logo{
        margin: 0;
        margin-top: 10px;
    }

    .qalaqi{
      margin-bottom: 5%;
      
  }

  .box{
    margin-bottom: 20px;
  }

.customer{
  margin-bottom: 20px;
}

.icon-last{
  
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.social-icons{
  margin: 0;
}







}

